<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631477663593-7963a0hlj1mitt85v6dpn75sd1e130g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631477663593-7963a0hlj1mitt85v6dpn75sd1e130g9</string>
	<key>API_KEY</key>
	<string>AIzaSyDHuKrENL3Zby2MRljnBQ2cWgZnaPgW_Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>631477663593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.weddingapp</string>
	<key>PROJECT_ID</key>
	<string>godlifeconversations-6b007</string>
	<key>STORAGE_BUCKET</key>
	<string>godlifeconversations-6b007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631477663593:ios:ef9657f3eb6574c3516ff8</string>
</dict>
</plist>